main > section {
  min-height: 100vh;
}

.part1 {
  background-color: var(--color-primary-400);
}

.part2 {
  background-color: var(--color-primary-400);
}

.part3 {
  background-color: var(--color-gray-400);
}